<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="home-account">
                        <a href="#">Home</a>
                        <a routerLink="login">My account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#"><img src="../../../assets/images/logo.png" title="Grill Template" alt="Grill Website Template" ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-menu">
                        <ul>
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="about">About</a></li>
                            <li><a routerLink="product">Products</a></li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="search-box">  
                        <form name="search_form" method="get" class="search_form">
                            <input id="search" type="text" />
                            <input type="submit" id="search-button" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>